<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.AlarmMapper">
		<resultMap type = "jung.spring.vo.AlarmInfoVO" id = "AlarmResultMap">			
			<result property = "alarmNumber" column = "ALARMNUMBER"/>
			<result property = "alarmContent" column = "ALARMCONTENT"/>
			<result property = "alarmMyId" column = "ALARMMYID"/>
			<result property = "alarmYouId" column = "ALARMYOUID"/>
			<result property = "alarmDate" column = "ALARMDATE"/>
		</resultMap>
		
		<insert id = "addAlarm" parameterType = "jung.spring.vo.AlarmInfoVO">
			INSERT INTO alarmInfo VALUES(alarmNumber_seq.nextval, #{alarmContent}, #{alarmMyId}, #{alarmYouId}, #{alarmDate})
		</insert>
		
		<select id = "getAlarms" resultType = "jung.spring.vo.AlarmInfoVO">
			SELECT * FROM alarmInfo ORDER BY alarmNumber DESC
		</select>
		
	</mapper>