<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.BoardMapper">
		<resultMap type = "jung.spring.vo.BoardInfoVO" id = "BoardResultMap">			
			<result property = "boardNumber" column = "BOARDNUMBER"/>
			<result property = "boardUserId" column = "BOARDUSERID"/>
			<result property = "boardTitle" column = "BOARDTITLE"/>
			<result property = "boardWriter" column = "BOARDWRITER"/>
			<result property = "boardContent" column = "BOARDCONTENT"/>
			<result property = "boardDate" column = "BOARDDATE"/>
			<result property = "boardSubject" column = "BOARDSUBJECT"/>
			<result property = "boardViews" column = "BOARDVIEWS"/>
		</resultMap>
		
		<resultMap type = "jung.spring.vo.JoinBoardInfoVO" id = "JoinBoardResultMap">			
			<result property = "joinBoardNumber" column = "JOINBOARDNUMBER"/>
			<result property = "joinBoardUserId" column = "JOINBOARDUSERID"/>
			<result property = "joinBoardTitle" column = "JOINBOARDTITLE"/>
			<result property = "joinBoardWriter" column = "JOINBOARDWRITER"/>
			<result property = "joinBoardContent" column = "JOINBOARDCONTENT"/>
			<result property = "joinBoardDate" column = "JOINBOARDDATE"/>
			<result property = "joinBoardSubject" column = "JOINBOARDSUBJECT"/>
			<result property = "joinBoard_joinUserNumber" column = "JOINBOARD_JOINUSERNUMBER"/>
		</resultMap>
		
	<!-- 	<resultMap type = "jung.spring.vo.TestBean" id = "TestBeanMap">
			<collection property = "boardInfo" resultMap = "BoardResultMap"></collection>
			<collection property = "joinBoardInfo" resultMap = "JoinBoardResultMap"></collection>
		</resultMap> -->

		<select id = "getMyBoards" parameterType = "string" resultType = "jung.spring.vo.BoardInfoVO">
			<!-- SELECT DISTINCT * FROM boardInfo a, joinBoardInfo b WHERE a.boardUserId = b.joinBoardUserId ORDER BY a.boardDate DESC, b.joinBoardDate DESC -->
			SELECT * FROM boardInfo WHERE boardUserId = #{name} UNION ALL SELECT * FROM joinBoardInfo WHERE JoinBoardUserId = #{name}
		</select>

		<select id = "getBoards" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardNumber DESC
		</select>
		
		<select id = "getBoard" parameterType = "int" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo WHERE boardNumber = #{boardNumber}
		</select>
		
		<update id = "countBoardViews" parameterType = "map">
			UPDATE boardInfo SET boardViews = #{count} WHERE boardNumber = #{boardNumber}
		</update>
		
		<insert id = "addBoard" parameterType = "map">
			INSERT INTO boardInfo VALUES(boardNumber_seq.nextval, #{boardUserId}, #{boardTitle}, #{boardWriter}, #{boardContent}, #{boardDate}, #{boardSubject}, #{boardViews})
		</insert>
		
		<select id = "getBoardWriterSort" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardWriter
		</select>
		
		<select id = "getBoardDateSort" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardDate
		</select>
		
		<select id = "getBoardTitleSort" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardTitle
		</select>
		
		<select id = "getBoardNumberSort" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardNumber
		</select>
		
		<select id = "getBoardReadSort" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardViews DESC
		</select>

	</mapper>