<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.BoardMapper">
		<resultMap type = "jung.spring.vo.BoardInfoVO" id = "BoardResultMap">			
			<result property = "boardNumber" column = "BOARDNUMBER"/>
			<result property = "boardUserId" column = "BOARDUSERID"/>
			<result property = "boardTitle" column = "BOARDTITLE"/>
			<result property = "boardWriter" column = "BOARDWRITER"/>
			<result property = "boardContent" column = "BOARDCONTENT"/>
			<result property = "boardDate" column = "BOARDDATE"/>
			<result property = "boardSubject" column = "BOARDSUBJECT"/>
			<result property = "boardViews" column = "BOARDVIEWS"/>
		</resultMap>
		
		<select id = "getBoards" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo ORDER BY boardNumber DESC
		</select>
		<select id = "getBoard" parameterType = "int" resultType = "jung.spring.vo.BoardInfoVO">
			SELECT * FROM boardInfo WHERE boardNumber = #{boardNumber}
		</select>
		<update id = "countBoardViews" parameterType = "map">
			UPDATE boardInfo SET boardViews = #{count} WHERE boardNumber = #{boardNumber}
		</update>
		<insert id = "addBoard" parameterType = "map">
			INSERT INTO boardInfo VALUES(boardNumber_seq.nextval, #{boardUserId}, #{boardTitle}, #{boardWriter}, #{boardContent}, #{boardDate}, #{boardSubject}, #{boardViews})
		</insert>
	</mapper>