<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.BoardChildMapper">
		<resultMap type = "jung.spring.vo.BoardChildInfoVO" id = "BoardChildResultMap">			
			<result property = "boardChildNumber" column = "BOARDCHILDNUMBER"/>
			<result property = "boardNumber" column = "BOARDNUMBER"/>
			<result property = "userId" column = "USERID"/>
			<result property = "boardSympathy" column = "BOARDSYMPATHY"/>
			<result property = "boardComment" column = "BOARDCOMMENT"/>
		</resultMap>
		<insert id = "addBoardChild" parameterType = "map">
			INSERT INTO boardChildInfo VALUES (boardChildNumber_seq.nextval, #{boardNumber}, #{userId}, #{boardSympathy}, #{boardComment})
		</insert>
		
		<update id = "updateBoardSympathy" parameterType = "map">
			UPDATE boardChildInfo SET boardSympathy = #{boardSympathy} WHERE boardNumber = #{boardNumber} AND userId = #{userId}
		</update>
		
		<select id = "getBoardChildList" parameterType = "int" resultType = "jung.spring.vo.BoardChildInfoVO">
			SELECT * FROM boardChildInfo WHERE boardNumber = #{boardNumber}
		</select>
		
		<select id = "getBoardChilds" parameterType = "map" resultType = "jung.spring.vo.BoardChildInfoVO">
			SELECT * FROM boardChildInfo WHERE boardNumber = #{boardNumber} AND userId = #{userId}
		</select>  
	</mapper>