<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.JoinBoardMapper">
		<resultMap type = "jung.spring.vo.JoinBoardInfoVO" id = "JoinBoardResultMap">			
			<result property = "joinBoardNumber" column = "JOINBOARDNUMBER"/>
			<result property = "joinBoardUserId" column = "JOINBOARDUSERID"/>
			<result property = "joinBoardTitle" column = "JOINBOARDTITLE"/>
			<result property = "joinBoardWriter" column = "JOINBOARDWRITER"/>
			<result property = "joinBoardContent" column = "JOINBOARDCONTENT"/>
			<result property = "joinBoardDate" column = "JOINBOARDDATE"/>
			<result property = "joinBoardSubject" column = "JOINBOARDSUBJECT"/>
			<result property = "joinBoard_joinUserNumber" column = "JOINBOARD_JOINUSERNUMBER"/>
		</resultMap>
		
		<insert id = "addJoinBoard" parameterType = "map">
			INSERT INTO joinBoardInfo VALUES(joinBoardNumber_seq.nextval, #{joinBoardUserId}, #{joinBoardTitle}, #{joinBoardWriter}, #{joinBoardContent}, #{joinBoardDate},
			#{joinBoardSubject}, #{joinBoard_joinUserNumber})
		</insert>
		
		<select id = "getJoinBoards" resultType = "jung.spring.vo.JoinBoardInfoVO">
			SELECT * FROM joinBoardInfo
		</select>
		
		<select id = "getJoinBoard" parameterType = "int" resultType = "jung.spring.vo.JoinBoardInfoVO">
			SELECT * FROM joinBoardInfo WHERE joinBoardNumber = #{joinBoardNumber}
		</select>
		
		<select id = "getJoinBoardSorts" parameterType = "string" resultType = "jung.spring.vo.JoinBoardInfoVO">
			SELECT * FROM joinBoardInfo WHERE joinBoardSubject = #{subject} ORDER BY joinBoardDate DESC
		</select>
		
		<delete id = "deleteJoinBoard" parameterType = "map">
			DELETE joinBoardInfo WHERE joinBoardNumber = #{joinBoardNumber} AND joinBoardSubject = #{joinBoardSubject}
		</delete>
	</mapper>