<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.JoinBoard_JoinUserMapper">
		<resultMap type = "jung.spring.vo.JoinBoard_JoinUserInfoVO" id = "JoinBoard_JoinUserResultMap">			
			<result property = "joinBoard_number" column = "JOINBOARD_NUMBER"/>
			<result property = "joinBoard_boardNumber" column = "JOINBOARD_BOARDNUMBER"/>
			<result property = "joinBoard_userId" column = "JOINBOARD_USERID"/>
			<result property = "joinBoard_userName" column = "JOINBOARD_USERNAME"/>
			<result property = "verified" column = "VERIFIED"/>
		</resultMap>
		
		<insert id = "addJoinBoard_joinUser" parameterType = "map">
			INSERT INTO joinBoard_joinUserInfo VALUES(joinBoard_number_seq.nextval, #{joinBoard_boardNumber}, #{joinBoard_userId}, #{joinBoard_userName}, #{verified})
		</insert>
		
		<select id = "getJoinBoard_joinUsers" parameterType = "int" resultType = "jung.spring.vo.JoinBoard_JoinUserInfoVO">
			SELECT * FROM joinBoard_joinUserInfo WHERE joinBoard_boardNumber = #{joinBoardNumber}
		</select>
		
		<delete id = "deleteJoinBoard_joinUser" parameterType = "map">
			DELETE joinBoard_joinUserInfo WHERE joinBoard_boardNumber = #{joinBoardNumber}
		</delete>
		
		<select id = "getJoinBoard_joinUserList" resultType = "jung.spring.vo.JoinBoard_JoinUserInfoVO">
			SELECT * FROM joinBoard_joinUserInfo
		</select>
	</mapper>