<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.NoticeMapper">
		<resultMap type = "jung.spring.vo.NoticeInfoVO" id = "NoticeResultMap">			
			<result property = "noticeRegistNumber" column = "NOTICEREGISTNUMBER"/>
			<result property = "noticeNumber" column = "NOTICENUMBER"/>
			<result property = "noticeTitle" column = "NOTICETITLE"/>
			<result property = "noticeWriter" column = "NOTICEWRITER"/>
			<result property = "noticeContent" column = "NOTICECONTENT"/>
			<result property = "noticeDate" column = "NOTICEDATE"/>
			<result property = "noticeReadCount" column = "NOTICEREADCOUNT"/>
		</resultMap>
	
		<select id = "getNotices" resultType = "jung.spring.vo.NoticeInfoVO">
			SELECT * FROM noticeInfo ORDER BY noticeRegistNumber DESC
		</select>
	
		<insert id = "addNotice" parameterType = "jung.spring.vo.NoticeInfoVO">
			INSERT INTO noticeInfo VALUES(#{noticeRegistNumber}, noticeNumber_seq.nextval, #{noticeTitle}, #{noticeWriter}, #{noticeContent}, #{noticeDate}, 0)
		</insert>
		
		<select id = "getNotice" resultType = "jung.spring.vo.NoticeInfoVO" parameterType = "int">
			SELECT * FROM noticeInfo WHERE noticeNumber = #{noticeNumber}
		</select>
		
		<select id = "getRegistNotice" resultType = "jung.spring.vo.NoticeInfoVO" parameterType = "int">
			SELECT * FROM noticeInfo WHERE noticeNumber = #{noticeNumber1}
		</select>
		
		<update id = "modifyNotice" parameterType = "jung.spring.vo.NoticeInfoVO">
			UPDATE noticeInfo SET noticeTitle = #{noticeTitle}, noticeContent = #{noticeContent} WHERE noticeNumber = #{noticeNumber}
		</update>
		
		<update id = "modifyNoticeNumber" parameterType = "jung.spring.vo.NoticeInfoVO">
			UPDATE noticeInfo SET noticeRegistNumber = #{noticeRegistNumber} WHERE noticeNumber = #{noticeNumber}
		</update>

		<update id = "modifyNoticeReadCount" parameterType = "jung.spring.vo.NoticeInfoVO">
			UPDATE noticeInfo SET noticeReadCount = #{noticeReadCount} WHERE noticeNumber = #{noticeNumber}
		</update>
		
		<delete id = "deleteNotice" parameterType = "int">
			DELETE noticeInfo WHERE noticeNumber = #{noticeNumber}
		</delete>
	</mapper>