<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "jung.spring.mybatis.PopupChatMapper">
		<resultMap type = "jung.spring.vo.PopupChatInfoVO" id = "PopupChatResultMap">
			<result property = "popupChatNumber" column = "POPUPCHATNUMBER"/>
			<result property = "popupNumber" column = "POPUPNUMBER"/>
			<result property = "userId" column = "USERID"/>
			<result property = "userChatContent" column = "USERCHATCONTENT"/>
			<result property = "adminChatContent" column = "ADMINCHATCONTENT"/>
			<result property = "chat_date" column = "CHAT_DATE"/>

		</resultMap>
		<!-- resultMap = "PopupChatResultMap" -->
		
		<select id = "getPopupChats" parameterType = "int" resultType = "jung.spring.vo.PopupChatInfoVO">
			SELECT * FROM popupChatInfo WHERE popupNumber = #{popupNumber} ORDER BY popupChatNumber
		</select>
		
		<insert id = "addPopupUserChat" parameterType = "map">
			INSERT INTO popupChatInfo VALUES(popupChatNumber_seq.nextval, #{popupNumber}, #{userId}, #{userChatContent}, #{adminChatContent}, #{chat_date})
		</insert>
	</mapper>