	.commu_board_frame {
		width : 50%;
		height : auto;
		margin-top : 1%;
		margin-left : 26%;
		color : #696969;
	}
	.commu_board_subject {
		width : 97%;
		margin : 2px;
		height : 5%;
		padding-left : 22px;
		padding-top : 15px;
		padding-bottom : 10px;
	}
	.commu_board_title {
		width : 97%;
		margin : 2px;
		height : 5%;
		padding-left : 22px;
		padding-top : 15px;
		font-size : 120%;
		padding-bottom : 15px;
	}
	.commu_board_user {
		width : 99.3%;
		margin : 2px;
		height : 40px;
		border-bottom : 1px solid #BC8F8F;
	}
	.commu_board_user table {
		width : 100%;
		margin-top : 8px;
	}
	.commu_board_user_writer {
		width : 7%;
		text-align : right;
		border-right : 1px solid #BC8F8F;
		padding-right : 10px;
	}
	.commu_board_user_time {
		width : 80%;
		text-align : left;
		padding-left : 8px;
	}
	.commu_board_user_url {
		 width : 10%;
		 text-align : center;
		 border-left : 1px solid #BC8F8F;
	}
	.commu_board_content{ /* 476 */
		width : 97%;
		margin : 2px;
		height : auto;
		padding-left : 22px;
		padding-top : 15px;
		border-bottom : 1px solid #BC8F8F;
	}
	.commu_board_sympathy_comment{
		width : 97%;
		margin : 2px;
		height : 8%;
		padding-left : 22px;
		float : left;
	}
	button {
		margin-left : 20px;
	}
	.commu_board_user a:link { color: #696969; text-decoration: none;}
	.commu_board_user a:visited { color: #696969; text-decoration: none;}
 	.commu_board_user a:hover { color: black; text-decoration: none;}
 	
 	.floorBar {
 		float : left;
 		margin-top : 10%;
 		bottom : 0;
 	}
 	.comment_frame {
		display : none;
		margin : 2px;
		float : left;
		width : 100%;
		height : auto;
		border-top : 1px solid #BC8F8F;
	}
	textarea:focus {
		outline : none;
	}
	.all_comment_frame {
		margin : 2px;
		width : 99.3%;
		padding-bottom : 2%;
		padding-top : 2%;
	}
	.all_user_picture_name{
	 	margin : 2px;
	 	width : 99.3%;
	 	height : 25px;
	 	margin-top : 2%;
	}
	.all_user_comment{
	 	margin : 2px;
	 	width : 99.3%;
	 	height : auto;
	}
	.all_user_comment_time{
	 	margin : 2px;
	 	width : 99.3%;
	 	height : 20px;
	 	font-size : 80%;
	 	margin-top : 2%;
	 }
	.child_comment_sympathy_btn{
		margin : 2px;
		width : 99.3%;
		border-bottom : 1px solid #BC8F8F;
		height : 20px;
	}
	.my_comment_frame{
		border : 1px solid #8B4513;
		margin : 2px;
		width : 99.3%;
		height : 132px;
		border-radius : 5px; 
	}
	.my_name_frame{
		margin : 2px;
		width : 99.3%;
		height : 20px;
	}
	.my_comment_write_frame{
		border : 1px solid #BC8F8F;
		border-radius : 5px;
		margin : 2px;
		width : 99.3%;
		height : 50px;
	}
	.my_comment_write_frame:focus {
		outline : none;
	}
	.writeNumber_frame{
		border-bottom : 1px solid #BC8F8F;
		margin : 2px;
		width : 99.3%;
		height : 20px;
		text-align : right;
	}
	.empty_frame{
		border-right : 1px solid #BC8F8F;
		margin : 2px;
		width : 93%;
		height : 22px;
		float : left;
	}
	.my_comment_input_frame{
		margin : 2px;
		width : 5.6%;
		height : 22px;
		float : left;
	}
	.my_comment_input_frame input{
		width : 100%;
		height : 100%;
		background-color : white;
		border : 1px solid white;
		font-weight : bold;
	}
	.login_before_my_comment {
		display : flex;
		height : 132px;
		justify-content : center;
		align-items : center;
		border : 1px sold gray;
	}
	.login_before_my_comment a:link { text-decoration : none; color : #E9967A;}
	.login_before_my_comment a:visited { text-decoration : none;color : #E9967A;}
	.login_before_my_comment a:active {text-decoration : none; color : #E9967A; }
	.login_before_my_comment a:hover { text-decoration : none; color : #E9967A;}
	.deleteCommentbtn {
		float: right;
		border-radius : 5px;
		background-color : white;
		border : 1px solid #BC8F8F;
		color : #BC8F8F;
	}