	.floorBar {
		width : 100%;
		height : 100px;
		background-color : #000000;
		position : fixed;
		bottom : 0;
	}
	.togetherPeopleLeft {
		width : 100%;
		color : #696969;
		font-family: 'Hanna';
		font-size : 90%;
		text-align : center;
		position : absolute;
		transform : translate(0%, 20%);
	}
	.togetherPeopleRight {
		float : right;
		width : 100%;
		color : #696969;
		font-family: 'Hanna';
		font-size : 90%;
		text-align : center;
		position : absolute;
		transform : translate(0%, 220%);
	}