	body {
		margin : 0;
		padding : 0;
		overflow : hidden;
	}
	.popup-frame {
		width : 450px;
		height : 800px; 
		background-color : #696969;
	}
	.popup-chat-title {
		height : 5%;
		text-align : center; 
		color : #ffffff; 
		padding : 10px; 
		width : 100%; 
		font-size : 140%;
	}
	.popup-chat-content-frame {
		padding-top : 10px; 
		height : 84%; 
		overflow-y : scroll; 
		overflow : hidden; 
		background-color : #FFFAFA;
		width : 100%;
	}
	.popup-fulltime-frame {
		text-align : center;
		padding : 0;
	}
	.popup-fulltime-line-left {
		float : left; 
		width : 130px; 
		border : 1px solid #696969; 
		margin-top : 10px;
	}
	.popup-fulltime-line-right {
		float : right; 
		width : 130px; 
		border : 1px solid #696969; 
		margin-top : 10px;
	}
	.popup-chat-user-frame {
		margin : 3px; 
		float : right; 
		width : 90%; 
		border-radius : 5px;
	}
	.popup-chat-user-frame-right {
		float : right; 
		text-align : right; 
		max-width : 80%; 
		border-radius : 5px;
	}
	.popup-chat-user-content {
		font-size : 100%; 
		padding : 4px; 
		background-color : #666; 
		color : #fffff0; 
		text-align : right; 
		width : auto; 
		border : 1px solid #DCDCDC; 
		border-radius : 5px;
	}
	.popup-chat-user-time-frame-right {
		float : right; 
		margin-right : 3px; 
		text-align : right; 
		width : 18%; 
		border-radius : 5px;
	}
	.popup-chat-user-time-content {
		font-size : 80%; 
		width : 100%; 
		color : black; 
		text-align : right; 
		border-radius : 5px;
	}
	.popup-chat-admin-frame {
		 margin : 3px; 
		 float : left; 
		 width : 90%; 
		 border-radius : 5px;
	}
	.popup-chat-admin--frame-left{
		float : left; 
		text-align : left; 
		max-width : 80%; 
		border-radius : 5px;
	}
	.popup-chat-admin-content {
		font-size : 100%; 
		padding : 4px; 
		background-color : #666; 
		color : #fffff0; 
		text-align : left; 
		width : auto; 
		border : 1px solid #DCDCDC; 
		border-radius : 5px;
	}
	.popup-chat-admin-time-frame-left {
		 float : left; 
		 margin-left : 3px; 
		 text-align : left; 
		 width : 18%; 
		 border-radius : 5px;
	}
	.popup-chat-admin-time-content {
		 font-size : 80%; 
		 width : 100%; 
		 color : black; 
		 text-align : left; 
		 border-radius : 5px;
	}
	.popup-chat-input-frame {
		 position : absolute; 
		 width : 100%; 
		 bottom : 0; 
		 height : 5%;
	}
	.popup-chat-input{
		 float : left; 
		 border : 1px solid #FFFAFA; 
		 border-radius : 3px; 
		 width : 90%; 
		 height : 90%; 
		 overflow : hidden;
	}
	.user_chat{
		 width : 100%; 
		 height : 90%; 
		 overflow : hidden; 
		 border-radius : 3px; 
		 border : 1px solid #FFFAFA;
	}
	.popup-chat-input-btn{
		 float : left;
		 width : 8.5%; 
		 margin-left : 4px; 
		 padding : 0; 
		 height : 100%; 
		 border-radius : 5px;
	}
	.popup-chat-btn{
		width : 100%; 
		padding-bottom : 4px; 
		border-radius : 5px; 
		height : 95%; 
		border : 1px solid #FFFAFA;
	}